Django
requests
beautifulsoup4
django-bootstrap5

# Weblate https://docs.weblate.org/en/latest/admin/install.html translation
# django-filter https://django-filter.readthedocs.io/en/stable/guide/install.html filter
# django-environ https://django-environ.readthedocs.io/en/latest/ environ
# django-appconf https://pypi.org/project/django-appconf/ appconf

# django-phonenumber-field	https://pypi.org/project/django-phonenumber-field/ phone number
# django-allauth https://docs.allauth.org/en/latest/installation/quickstart.html login in with social media
# social-auth-app-django	https://pypi.org/project/social-auth-app-django/ login in with social media

# django-mptt	https://django-mptt.readthedocs.io/en/latest/ tree structure
# django-formtools	 https://django-formtools.readthedocs.io/en/latest/ form tools

# django-model-utils https://django-model-utils.readthedocs.io/en/latest/
# Django Debug Toolbar https://django-debug-toolbar.readthedocs.io/en/latest/installation.html Debug Toolbar
# django-silk https://github.com/jazzband/django-silk Silk intercepts and stores HTTP requests and database queries
# django-ckeditor https://django-ckeditor.readthedocs.io/en/latest/#installation ckeditor content
# django-compressor https://pypi.org/project/django-compressor/ compress static files (JS, CSS)
# django-hijack https://pypi.org/project/django-hijack/ hijack user
# django-modeltranslation https://pypi.org/project/django-modeltranslation/ translate models
# django-simple-history https://django-simple-history.readthedocs.io/en/latest/ history of models
# django-haystack https://pypi.org/project/django-haystack/ search
# django-import-export https://pypi.org/project/django-import-export/ import/export data




# django-baton https://pypi.org/project/django-baton/ admin panel
# django-admin-sortable2 https://pypi.org/project/django-admin-sortable2/ sortable admin
# django-jazzmin https://pypi.org/project/django-jazzmin/ admin panel
# django-admin-interface https://pypi.org/project/django-admin-interface/ admin panel
# Django Grappelli https://pypi.org/project/django-grappelli/ grid-based alternative/extension
# django-admin-charts https://pypi.org/project/django-admin-charts/ charts in admin panel

 